@import 'variables';
@import 'mixins';

.button {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: spacing(6);

	&:hover {
		svg {
			transform: translateX(- spacing(2));
		}
	}

	svg {
		height: 20px;
		margin-right: 10px;
		transition: transform 0.5s;
		width: 20px;
	}
}
