@import 'variables';

.button {
	border: 1px solid $gunpowder;
	border-radius: 5px;
	padding: 1rem 10rem;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;

	&:hover {
		background-color: $gunpowder;
		color: white;
	}
}
