@import 'variables';
@import 'mixins';

.card {
	align-items: flex-start;
	background-color: $aluminium;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include desktop() {
		align-items: center;
		flex-direction: row;
	}
}

.image {
	height: 250px;
	object-fit: cover;
	width: 100%;

	@include desktop() {
		height: 250px;
		width: 250px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	padding: spacing(3);

	@include desktop() {
		padding: spacing(4);
	}

	span {
		font-weight: 300;
		line-height: 1.5;
		margin: spacing(3) 0;
	}
}

.link {
	display: block;
	font-weight: bold;
	text-decoration: underline solid 3px;
}
