@import 'variables';
@import 'mixins';

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: spacing(4) 0;
	width: 100%;

	span {
		margin-right: spacing(4);
		text-transform: uppercase;
	}
}

.select {
	width: 60%;

	@include desktop() {
		width: 30%;
	}
}
