@import 'variables';
@import 'mixins';

.row {
	align-items: flex-start;
	border-bottom: 1px solid $steel;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: spacing(3) 0;
	width: 100%;

	@include desktop() {
		align-items: center;
		flex-direction: row;
	}
}

.label {
	font-weight: bold;
	margin-bottom: spacing(3);

	@include desktop() {
		margin-bottom: 0;
	}
}
