@import 'variables';
@import 'mixins';

.gridContainer3 {
	display: grid;
	gap: spacing(4);
	grid-template-columns: 1fr;
	padding: spacing(4) 0;
	width: 100%;

	@include desktop() {
		grid-template-columns: repeat(3, 1fr);
		padding: spacing(4);
	}
}

.gridContainer2 {
	display: grid;
	gap: spacing(4);
	grid-template-columns: 1fr;
	padding: spacing(4) 0;
	width: 100%;

	@include desktop() {
		grid-template-columns: repeat(2, 1fr);
		padding: spacing(4);
	}
}
