@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@import 'variables';
@import 'vendor/normalize';
@import 'mixins';

html,
body {
	color: $gunpowder;
	font-family: Poppins, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: $gunpowder;
	text-decoration: none;
}

.section {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 5rem 0;
}

* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 spacing(4);
	@include desktop() {
		max-width: 1200px;
	}
}


