@import 'variables';
@import 'mixins';

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	h3 {
		margin-bottom: spacing(3);
	}

	img {
		border-radius: 50%;
		width: 30%;
	}
}
