@import "variables";

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.content {
  background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
  color: #ffffff;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: nth($spacing, 2);
  text-align: center;

  h4 {
    margin-bottom: nth($spacing, 1);
  }

  span {
    line-height: 1.5;
    font-weight: 300;
  }
}
