@import 'variables';
@import 'mixins';

.bar {
	align-items: center;
	background-color: $aluminium;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	margin-top: spacing(5);
	padding: 0 spacing(4);
	width: 100%;
}

.input {
	background-color: $aluminium;
	border: 0;
	padding: spacing(4);
	width: 100%;

	&:focus {
		background-color: $aluminium;
		outline: none;
	}
}

.icon {
	color: $gunpowder;
	height: 24px;
	margin-right: spacing(4);
	width: 24px;
}
