@import 'variables';
@import 'mixins';

.wrapper {
	background: $steel;
	display: flex;
	flex-direction: column;
	padding-bottom: spacing(2);
}

.cardImage {
	display: flex;

	img {
		height: 200px;
		object-fit: cover;
		width: 100%;
	}
}

.cardContent {
	align-items: flex-start;
	background-color: $aluminium;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: spacing(3);
	transform: translateX(spacing(2));
}

.cardTitle {
	margin-bottom: spacing(3);
}

.cardDescription {
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: spacing(4);
}

.cardButton {
	align-items: center;
	align-self: flex-end;
	background-color: $steel;
	color: $gunpowder;
	display: flex;
	padding: spacing(3);
	transition: all 0.5s ease-in-out;

	svg {
		height: 20px;
		margin-left: spacing(2);
		transition: transform 0.5s;
		width: 20px;
	}

	&:hover {
		background-color: $gunpowder;
		color: white;

		svg {
			transform: translateX(spacing(1));
		}
	}
}
